/* Header Main Page*/
/* Cambia lo Siguiente*/
/* Main Page Body */

  

  
.MPpost-media {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    padding-left: 50px;
  }
  
