/* Header Main Page*/
/* Cambia lo Siguiente*/
/* Main Page Body */

  

  
.MPpost-media {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    padding-left: 50px;
  }
  

  
  .icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
