.SNMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1; 
    padding: 20px;
}

.SNMain h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 25px;
}

.SNform-container {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    max-width: 450px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

.SNform-container p {
    margin: 0 0 8px 0;
    align-self: flex-start;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.SNFInputs{
    width: 100%;
    margin-bottom: 10px;
}

.SNform-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
}
  
.SNButton {
  display: flex;
  justify-content: center; 
  align-items: center;     
  width: 100%;
}
.button {
    text-decoration: none;
    flex: 1;
    width: 100%;
    padding: 15px 5px;
    background-color: #52A5E0;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px; 
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .SNform-container {
        background-color: #ffffff;
        padding: 30px 25px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        width: 250px;
        display: flex;              
        flex-direction: column;     
        align-items: center;
    }
    
    .SNMain h1 {
        font-size: 30px;
    }

    .SNform-container p{
        margin: 0px;
        align-self: flex-start;
    }

    .SNFInputs{
        width: 100%;
        margin-bottom: 15px;
    }

    .SNform-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 12px;
    }
    
    .SNform-container button {
        align-self: center;
        width: auto;
        padding: 15px 30px 15px 30px;
        background-color: #52A5E0;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
 }    
}