<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/Commentsstyle.css">
</head>
<body>
    <header>
        <div class="LogInDivRight">
            <div class="LogInSearch">
                <a href="#" id="LogInSearchIcon"></a>
            </div>
            <div class="LogInGlobe">
                <a href="#" id="LogInGlobeIcon"></a>
            </div>
            <div class="LogInLogout">
                <a href="#" id="LogInLogoutLink">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="LogInLogoContainer">
            <img src="../images/Logo.png" alt="Logo de chATI" id="LPLogo">
         </div>
        <div class="LogInDivLeft">
            <div class="LogInPublish">
                <a href="#" id="LogInPublishIcon"></a>
            </div>
            <div class="LogInChat">
                <a href="#" id="LogInChatIcon"></a>
            </div>
            <div class="LogInLike">
                <a href="#" id="LogInLikeIcon"></a>
            </div>
            <div class="LogInProfile">
                <a href="#" id="LogInProfileIcon"></a>
            </div>
            <div class="LogInHome">
                <a href="#" id="LogInHomeIcon"></a>
            </div>
        </div>
    </header>

    <main class="PMain">
        <div id="MPfeed">
          <div class="MPpost">
            <div class="MPpost-header">
              <div class="MPUserPhoto"></div>
              <div class="MPUserInfo">
                <strong class="MPpostUser"> Usuario </strong>
                <span class="MPpostUserdate"> · Ene 01</span>
              </div>
            </div>
      
            <p class="MPpost-content">Lindo día!</p>
            <div class="MPpost-actions">
                <span class="comments">
                  <img src="../images/Chat.png" alt="Comentarios" class="icon"> <span class="count" id="commentCount">2</span>
                </span>
                <span class="likes" id="likeBtn">
                  <img src="../images/Heart.png" alt="Me gusta" class="icon"> <span class="count" id="likeCount">2</span>
                </span>
                <span class="share" id="shareBtn">
                  <img src="../images/Share.png" alt="Compartir" class="icon"> <span class="count" id="shareCount">0</span>
                </span>
              </div>
          </div>
          <section class="comment-input">
            <div class="comment-header">
                <div class="input-area">
                    <textarea
                    placeholder="Comentar..."
                    class="comment-box"
                    rows="1"></textarea>
                </div>
                <button type="submit" class="send-btn">ENVIAR</button>
            </div>
              <div class="tools">
                <button class="tool-btn-emoji" title="Emoji"></button>
                <button class="tool-btn-photo" title="Foto"></button>
                <button class="tool-btn-file" title="Archivo"></button>
              </div>
            </div>
          </section>
          
        </div>
      </main>
      <footer class="MobileFooter">
        <div class="MobileDiv">
            <div class="MobileHome">
                <a href="#" id="MobileHomeIcon"></a>
            </div>
            <div class="MobileChat">
                <a href="#" id="MobileChatIcon"></a>
            </div>
            <div class="MobilePublish">
                <a href="#" id="MobilePublishIcon"></a>
            </div>
            <div class="MobileLike">
                <a href="#" id="MobileLikeIcon"></a>
            </div>
            <div class="MobileProfile">
                <a href="#" id="MobileProfileIcon"></a>
            </div>
        </div>
    </footer>
</body>
</html>