<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/RecoverPassstyle.css">
</head>
<body>
    <header>
        <img src="../images/Logo.png" alt="Logo de chATI" id="LPLogo">
        <div class="LPHDiv">
            <a href="#" id="LPGlobe"></a>
          </div>
    </header>

    <main class="RPMain">
        <h1>Recuperar contraseña</h1>
        <div class="RPform-container">
            <div class="RPFInputs">            
                <p id="RPFEmail">Correo</p>
                <input type="text">
                <p id="RPFCEmail">Confirmar correo</p>
                <input type="text">
            </div>
            <button>ENVIAR</button>
            </div>
          </div>
    </main>
</body>
</html>