{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ChangePassstyle.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/Logo.png' %}" alt="Logo de chATI" id="LPLogo">
        <div class="LPHDiv">
            <a href="#" id="LPGlobe"></a>
          </div>
    </header>

    <main class="ChPMain">
        <h1>Cambiar contraseña</h1>
        <div class="ChPform-container">
            <div class="ChPFInputs">            
                <p id="ChPFPass">Contraseña</p>
                <input type="text">
                <p id="ChPFCPass">Confirmar contraseña</p>
                <input type="text">
            </div>
            <button>ACEPTAR</button>
            </div>
          </div>
    </main>
</body>
</html>