<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/Chatsstyle.css">

</head>
<body>
    <header>
        <div class="LogInDivRight">
            <div class="LogInSearch">
                <a href="#" id="LogInSearchIcon"></a>
            </div>
            <div class="LogInGlobe">
                <a href="#" id="LogInGlobeIcon"></a>
            </div>
            <div class="LogInLogout">
                <a href="#" id="LogInLogoutLink">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="LogInChatMainTitleContainer">
            <h1 id="ChatMainTitle"> Chats</h1>
        </div>
        <div class="LogInDivLeft">
            <div class="LogInPublish">
                <a href="#" id="LogInPublishIcon"></a>
            </div>
            <div class="LogInChat">
                <a href="#" id="LogInChatIcon"></a>
            </div>
            <div class="LogInLike">
                <a href="#" id="LogInLikeIcon"></a>
            </div>
            <div class="LogInProfile">
                <a href="#" id="LogInProfileIcon"></a>
            </div>
            <div class="LogInHome">
                <a href="#" id="LogInHomeIcon"></a>
            </div>
        </div>
    </header>

    <main class="PMain">
        <div id="MPfeed">
        <div class="ChatPost">
            <a href="#" id="ChatSol">Solicitudes de Chat (3)</a>
        </div>
          <div class="MPpost">
            <div class="MPpost-header">
              <div class="MPUserPhoto"></div>
              <div class="MPUserInfo">
                <strong class="MPpostUser"> Usuario 2 </strong>
                <span class="MPpostUserdate"> · Hace 20 min</span>
              </div>
            </div>
            <p class="Chat-contentpreview">Lindo día!</p>
          </div>
        </div>
      </main>
    <footer class="MobileFooter">
        <div class="MobileDiv">
            <div class="MobileSearch">
                <a href="#" id="MobileSearchIcon"></a>
            </div>
            </div>
            <div class="MobilePublish">
                <a href="#" id="MobilePublishIcon"></a>
            </div>
            <div class="MobileChat">
                <a href="#" id="MobileChatIcon"></a>
            </div>
            <div class="MobileLike">
                <a href="#" id="MobileLikeIcon"></a>
            </div>
            <div class="MobileProfile">
                <a href="#" id="MobileProfileIcon"></a>
            </div>
        </div>
    </footer>
</body>
</html>