{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Chatsstyle.css' %}">

</head>
<body>
    <header>
        <div class="LogInDivRight">
            <div class="LogInSearch">
                <a href="#" id="LogInSearchIcon"></a>
            </div>
            <div class="LogInGlobe">
                <a href="#" id="LogInGlobeIcon"></a>
            </div>
            <div class="LogInLogout">
                <a href="{% url 'logout' %}" id="LogInLogoutLink">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="LogInChatMainTitleContainer">
            <h1 id="ChatMainTitle"> Chats </h1>
        </div>
        <div class="LogInDivLeft">
            <div class="LogInPublish">
                <a href="{% url 'feed-post' %}" id="LogInPublishIcon"></a>
            </div>
            <div class="LogInChat">
                <a href="{% url 'feed-chat' %}" id="LogInChatIcon"></a>
            </div>
            <div class="LogInLike">
                <a href="{% url 'feed-notifications' %}" id="LogInLikeIcon"></a>
            </div>
            <div class="LogInProfile">
                <a href="{% url 'feed-profile' %}" id="LogInProfileIcon"></a>
            </div>
            <div class="LogInHome">
                <a href="{% url 'feed' %}" id="LogInHomeIcon"></a>
            </div>
        </div>
    </header>

    <main class="PMain">
        <div id="MPfeed">
        <div class="ChatPost">
            <a href="#" id="ChatSol">Solicitudes de chat (0)</a>
        </div>
          <div class="MPpost">
            <div class="MPpost-header">
              <div class="MPUserPhoto"></div>
              <div class="MPUserInfo">
                <strong class="MPpostUser">Usuario</strong>
                <span class="MPpostUserdate"> · Hace 0 min</span>
              </div>
            </div>
            <p class="Chat-contentpreview">Mensaje enviado</p>
          </div>
        </div>
      </main>
      <footer class="MobileFooter">
        <div class="MobileDiv">
            <div class="MobileHome">
                <a href="{% url 'feed' %}" id="MobileHomeIcon"></a>
            </div>
            <div class="MobileChat">
                <a href="{% url 'feed-chat' %}" id="MobileChatIcon"></a>
            </div>
            <div class="MobilePublish">
                <a href="{% url 'feed-post' %}" id="MobilePublishIcon"></a>
            </div>
            <div class="MobileLike">
                <a href="{% url 'feed-notifications' %}" id="MobileLikeIcon"></a>
            </div>
            <div class="MobileProfile">
                <a href="{% url 'feed-profile' %}" id="MobileProfileIcon"></a>
            </div>
        </div>
    </footer>
</body>
</html>