{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Commentsstyle.css' %}">
    <script src="{% static 'js/MobilePopup.js' %}"></script>
    <script src="{% static 'js/SearchPopUp.js' %}"></script>
</head>
<body>
    <header>
        <div class="LogInDivRight">
            <div class="LogInSearch">
                <a href="#" id="LogInSearchIcon"></a>
            </div>
            <div id="popupSearch" style="display:none;" class="popup-container">
                <div class="popup-content">
                    <input type="text" id="userSearchInput" placeholder="Buscar usuarios..." />
                    <ul id="searchResults"></ul>
                </div>
            </div>
            <div class="LogInGlobe">
                <a href="#" id="LogInGlobeIcon"></a>
            </div>
            <div class="LogInLogout">
                <a href="{% url 'logout' %}" id="LogInLogoutLink">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="LogInLogoContainer">
            <img src="{% static 'images/Logo.png' %}" alt="Logo de chATI" id="LPLogo">
        </div>
        <div class="LogInDivLeft">
            <div class="LogInPublish">
                <a href="{% url 'feed-post' %}" id="LogInPublishIcon"></a>
            </div>
            <div class="LogInChat">
                <a href="{% url 'feed-chat' %}" id="LogInChatIcon"></a>
            </div>
            <div class="LogInLike">
                <a href="{% url 'feed-notifications' %}" id="LogInLikeIcon"></a>
            </div>
            <div class="LogInProfile">
                <a href="{% url 'own-profile' %}" id="LogInProfileIcon"></a>
            </div>
            <div class="LogInHome">
                <a href="{% url 'feed' %}" id="LogInHomeIcon"></a>
            </div>
       </div>
    <header>

    <main class="PMain">
        <div id="MPfeed">
          <div class="MPpost">
            <div class="MPpost-header">
              <div class="MPUserPhoto"></div>
              <div class="MPUserInfo">
                <strong class="MPpostUser"> Usuario </strong>
                <span class="MPpostUserdate"> · Ene 01</span>
              </div>
            </div>
      
            <p class="MPpost-content">Lindo día!</p>
            <div class="MPpost-actions">
                <span class="comments">
                  <img src="{% static 'images/Chat.png' %}" alt="Comentarios" class="icon"> <span class="count" id="commentCount">2</span>
                </span>
                <span class="likes" id="likeBtn">
                  <img src="{% static 'images/Heart.png' %}" alt="Me gusta" class="icon"> <span class="count" id="likeCount">2</span>
                </span>
                <span class="share" id="shareBtn">
                  <img src="{% static 'images/Share.png' %}" alt="Compartir" class="icon"> <span class="count" id="shareCount">0</span>
                </span>
              </div>
          </div>
          <section class="comment-input">
            <div class="comment-header">
                <div class="input-area">
                    <textarea
                    placeholder="Comentar..."
                    class="comment-box"
                    rows="1"></textarea>
                </div>
                <button type="submit" class="send-btn">ENVIAR</button>
            </div>
              <div class="tools">
                <button class="tool-btn-emoji" title="Emoji"></button>
                <button class="tool-btn-photo" title="Foto"></button>
                <button class="tool-btn-file" title="Archivo"></button>
              </div>
            </div>
          </section>
          
          
        </div>
      </main>
      <footer class="MobileFooter">
        <div class="MobileDiv">
            <div class="MobileHome">
                <a href="{% url 'feed' %}" id="MobileHomeIcon"></a>
            </div>
            <div class="MobileChat">
                <a href="{% url 'feed-chat' %}" id="MobileChatIcon"></a>
            </div>
            <div class="MobilePublish">
                <a href="{% url 'feed-post' %}" id="MobilePublishIcon"></a>
            </div>
            <div class="MobileLike">
                <a href="{% url 'feed-notifications' %}" id="MobileLikeIcon"></a>
            </div>
            <div class="MobileProfile">
                <a href="{% url 'feed-profile' %}" id="MobileProfileIcon"></a>
            </div>
        </div>
    </footer>
</body>
</html>