<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/EditProfilestyle.css">

</head>
<body>
    <header>
        <div class="LogInDivRight">
            <div class="LogInSearch">
                <a href="#" id="LogInSearchIcon"></a>
            </div>
            <div class="LogInGlobe">
                <a href="#" id="LogInGlobeIcon"></a>
            </div>
            <div class="LogInLogout">
                <a href="#" id="LogInLogoutLink">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="LogInLogoContainer">
            <img src="../images/Logo.png" alt="Logo de chATI" id="LPLogo">
        </div>
        <div class="LogInDivLeft">
            <div class="LogInPublish">
                <a href="#" id="LogInPublishIcon"></a>
            </div>
            <div class="LogInChat">
                <a href="#" id="LogInChatIcon"></a>
            </div>
            <div class="LogInLike">
                <a href="#" id="LogInLikeIcon"></a>
            </div>
            <div class="LogInProfile">
                <a href="#" id="LogInProfileIcon"></a>
            </div>
            <div class="LogInHome">
                <a href="#" id="LogInHomeIcon"></a>
            </div>
        </div>
    </header>

    <main class="PMain">
        <h1 id="EPMainTitle">Editar Perfil</h1>
        <div class="EPform-container">
            <div class="EPFInputs">            
                <p id="EPFNombre">Nombre</p>
                <input type="text" placeholder="texto">
                <p id="EPFApellido">Apellido</p>
                <input type="text" placeholder="texto">
                <p id="EPFEmail">Correo Electronico</p>
                <input type="email" placeholder="texto">
                <p id="EPFUsername">Usuario</p>
                <input type="text" placeholder="texto">
                <p id="EPFPassword">Contraseña</p>
                <input type="password" placeholder="texto">
                <p id="EPFConPassword">Confirmar Contraseña</p>
                <input type="password" placeholder="texto">
            </div>
            <div class="EPPProfile">
                <span id="EPSpanPProfile">Perfil Privado</span>
                <label class="EPswitch">
                    <input type="checkbox">
                    <span class="EPslider"></span>
                  </label>
            </div>
            
            <button>ACEPTAR</button>
          </div>
    </main>
</body>
</html>