{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Notificationsstyle.css' %}">
</head>
<body>
    <header>
        <div class="LogInDivRight">
            <div class="LogInSearch">
                <a href="#" id="LogInSearchIcon"></a>
            </div>
            <div class="LogInGlobe">
                <a href="#" id="LogInGlobeIcon"></a>
            </div>
            <div class="LogInLogout">
                <a href="#" id="LogInLogoutLink">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="LogInNotifMainTitleContainer">
            <h1 id="NotifMainTitle"> Notificaciones </h1>
        </div>
        <div class="LogInDivLeft">
            <div class="LogInPublish">
                <a href="#" id="LogInPublishIcon"></a>
            </div>
            <div class="LogInChat">
                <a href="#" id="LogInChatIcon"></a>
            </div>
            <div class="LogInLike">
                <a href="#" id="LogInLikeIcon"></a>
            </div>
            <div class="LogInProfile">
                <a href="#" id="LogInProfileIcon"></a>
            </div>
            <div class="LogInHome">
                <a href="#" id="LogInHomeIcon"></a>
            </div>
        </div>
    </header>

    <main class="PMain">
        <div id="MPfeed">
          <div class="MPpost">
            <div class="MPpost-header">
              <div class="MPUserPhoto"></div>
              <div class="MPUserInfo">
                <strong class="MPpostUser"> Usuario 3 </strong>
                <span class="MPpostUserdate"> · May 29</span>
              </div>
            </div>
            <p class="Chat-Notifcontent">Comento tu publicacion</p>
          </div>
        </div>
      </main>
      <footer class="MobileFooter">
        <div class="MobileDiv">
            <div class="MobileHome">
                <a href="#" id="MobileHomeIcon"></a>
            </div>
            <div class="MobileChat">
                <a href="#" id="MobileChatIcon"></a>
            </div>
            <div class="MobilePublish">
                <a href="#" id="MobilePublishIcon"></a>
            </div>
            <div class="MobileLike">
                <a href="#" id="MobileLikeIcon"></a>
            </div>
            <div class="MobileProfile">
                <a href="#" id="MobileProfileIcon"></a>
            </div>
        </div>
    </footer>
</body>
</html>