{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ProfileUserstyle.css' %}">

</head>
<body>
    <header>
         <div class="LogInDivRight">
            <div class="LogInSearch">
                <a href="#" id="LogInSearchIcon"></a>
            </div>
            <div class="LogInBack">
                <a href="{% url 'feed' %}" id="LogInBackIcon"></a>
            </div>
           <div class="LogInGlobe">
                <a href="#" id="LogInGlobeIcon"></a>
            </div>
            <div class="LogInLogout">
                <a href="{% url 'logout' %}" id="LogInLogoutLink">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="LogInLogoContainer">
            <img src="{% static 'images/Logo.png' %}" alt="Logo de chATI" id="LPLogo">
        </div>
       <div class="LogInDivLeft">
            <div class="LogInPublish">
                <a href="{% url 'feed-post' %}" id="LogInPublishIcon"></a>
            </div>
            <div class="LogInChat">
                <a href="{% url 'feed-chat' %}" id="LogInChatIcon"></a>
            </div>
            <div class="LogInLike">
                <a href="{% url 'feed-notifications' %}" id="LogInLikeIcon"></a>
            </div>
            <div class="LogInProfile">
                <a href="{% url 'feed-profile' %}" id="LogInProfileIcon"></a>
            </div>
            <div class="LogInHome">
                <a href="{% url 'feed' %}" id="LogInHomeIcon"></a>
            </div>
        </div>
    </header>

    <main class="PUcontainer">
    <main class="PMain">
        <div class="PUprofile-header"></div>
        <div class="PUprofile">
              <div class="PUbanner">
                <div class="PUprofile-info">
                    <div class="PUavatar"></div>
                    <div class="PUname-section">
                      <h2 class="PUname">Usuario</h2>
                      <div class="PUButtons">
                        <p class="PUusername">@Usuario</p>
                          <div class="PUButtons-row">
                            <button class="PUEditarPerfil">Editar perfil</button>
                            <button class="PUMessage"></button>
                          </div>
                      </div>
                    <div class="PUstats">
                        <div class="PUstat" id="CantAmigos"><strong>00</strong><span>Amigos</span></div>
                        <div class="PUstat" id="CantPosts"><strong>00</strong><span>Publicaciones</span></div>
                        <div class="PUstat" id="CantCom"><strong>00</strong><span>Comentarios</span></div>
                    </div>
                  </div>
               </div>
            </div>
        </div>

          
        <div id="PUfeed">
          <div class="PUpost">
            <div class="PUpost-header">
              <div class="PUUserPhoto"></div>
              <div class="PUUserInfo">
                <strong class="PUpostUser">Usuario</strong>
                <span class="PUpostUserdate"> · Ene 01</span>
              </div>
            </div>
      
            <p class="PUpost-content">Lindo día!</p>
      
            <div class="PUpost-media"></div>
      
            <div class="PUpost-actions">
              <span class="comments">
                  <img src="{% static 'images/Chat.png' %}" alt="Comentarios" class="icon"> <span class="count" id="commentCount">0</span>
                </span>
                <span class="likes" id="likeBtn">
                  <img src="{% static 'images/Heart.png' %}" alt="Me gusta" class="icon"> <span class="count" id="likeCount">0</span>
                </span>
                <span class="share" id="shareBtn">
                  <img src="{% static 'images/Share.png' %}" alt="Compartir" class="icon"> <span class="count" id="shareCount">0</span>
                </span>
            </div>
          </div>
        </div>
      </main>
      </main>
      
      <footer class="MobileFooter">
        <div class="MobileDiv">
            <div class="MobileHome">
                <a href="{% url 'feed' %}" id="MobileHomeIcon"></a>
            </div>
            <div class="MobileChat">
                <a href="{% url 'feed-chat' %}" id="MobileChatIcon"></a>
            </div>
            <div class="MobilePublish">
                <a href="{% url 'feed-post' %}" id="MobilePublishIcon"></a>
            </div>
            <div class="MobileLike">
                <a href="{% url 'feed-notifications' %}" id="MobileLikeIcon"></a>
            </div>
            <div class="MobileProfile">
                <a href="{% url 'feed-profile' %}" id="MobileProfileIcon"></a>
            </div>
        </div>
    </footer>
</body>
</html>