{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/SignInstyle.css' %}">
    <script src="{% static 'js/MobilePopup.js' %}"></script>
</head>
<body>
    <header>
        <img src="{% static 'images/Logo.png' %}" alt="Logo de chATI" id="LPLogo">
        <div class="LPHDiv">
            <a href="#" id="LPGlobe" onclick="toggleMobilePopup(event)"></a>
            <div id="MobilePopup" class="mobile-popup hidden">
              <a href="{% url 'index' %}">INICIO</a>
              <a href="{% url 'login' %}">INICIAR SESIÓN</a>
            </div>
        </div>
    </header>

    <main class="SNMain">
        <h1>Registro</h1>
        
        {% if form.errors %}
            <div class="error-messages">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="POST" class="SNform-container">
            {% csrf_token %}
            <div class="SNFInputs">
                <p id="SNFNombre">Nombre</p>
                {{ form.first_name }}
                
                <p id="SNFApellido">Apellido</p>
                {{ form.last_name }}
                
                <p id="SNFEmail">Correo electrónico</p>
                {{ form.email }}
                
                <p id="SNFUsername">Nombre de usuario</p>
                {{ form.username }}
                
                <p id="SNFPassword">Contraseña</p>
                {{ form.password1 }}
                
                <p id="SNFConPassword">Confirmar contraseña</p>
                {{ form.password2 }}
            </div>
            <div class="SNButton">
                <button type="submit" class="button">REGISTRATE</button>
            </div>
        </form>
    </main>
</body>
</html>