{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chATI - Red Social para Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/SignInstyle.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/Logo.png' %}" alt="Logo de chATI" id="LPLogo">
        <div class="LPHDiv">
            <a href="#" id="LPGlobe"></a>
          </div>
    </header>

     <main class="SNMain">
        <h1>Registro</h1>
        <div class="SNform-container">
            <div class="SNFInputs">            
                <p id="SNFNombre">Nombre</p>
                <input type="text" >
                <p id="SNFApellido">Apellido</p>
                <input type="text" >
                <p id="SNFEmail">Correo electrónico</p>
                <input type="email" >
                <p id="SNFUsername">Nombre de usuario</p>
                <input type="text" >
                <p id="SNFPassword">Contraseña</p>
                <input type="password" >
                <p id="SNFConPassword">Confirmar contraseña</p>
                <input type="password" >
            </div>
            <button>REGISTRATE</button>
          </div>
    </main>
</body>
</html>